#map_canvas {
        width: 100%;
        height: 100%;
	margin: 0;
        padding: 0;
		top: 0;
		left: 0;
		line-height:normal;
      }         

    	
.fill { 
    min-height: 100%;
    height: 100%;
	}

.navbar {
	margin-top:0;
	padding-top:0;
        margin-bottom: 0;
        font-family: 'Titillium Web', sans-serif;
        font-size: 16;
	position: relative;
  }
	
.navbar-brand {
       font-size: 24;
  }

#containerForAll {
 position: relative; 
 width: 100%;
 height: 100%;   
 margin: 0;
 padding: 0;
}

#map_canvas, #searchBar {
  position: absolute;
}

#searchBar {
 width: 100%;
 height: 30%;
 top: 40%;
 margin-top: -50px;
 background-color: rgba(100, 100, 100, 0.5);
 outline-color: #222222;
 outline-style: double;
 bottom:0;
}
.btn-default {
margin-top: 75px;
  font-family: 'Titillium Web';
  font-size: 22;
  font-weight: bold;
  color: #000000;
  background-color: #009400;
}