div(ng-include='"components/navbar/navbar.html"')
  h1.container

header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
 

//div(ng-controller='TwitterController')
//       {{drake}}
div(ng-controller='SongkickController')
       {{songkick.venue.lat}}
       {{songkick.venue.lng}}
  h1.container

